In [ ]:
## importing 'mysql.connector' as mysql for convenient
import config
import mysql.connector

In [ ]:
# INSERT MANY
data = [
  ('Jane', date(2005, 2, 12)),
  ('Joe', date(2006, 5, 23)),
  ('John', date(2010, 10, 3)),
]
stmt = "INSERT INTO employees (first_name, hire_date) VALUES (%s, %s)"
cursor.executemany(stmt, data)