# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='~/../images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='~/../images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!


# Step 1: Load the Data/Filtering for Chosen Zipcodes

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('zillow_data.csv')

In [3]:
data.tail(10)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
14713,59187,3765,Haverhill,NH,Claremont,Grafton,14714,80800.0,80100.0,79400.0,...,119800,120000,120800,121600,122600,123400,124400,125500,126600,127500
14714,94711,84781,Pine Valley,UT,St. George,Washington,14715,135900.0,136300.0,136600.0,...,241100,243200,244300,248900,254600,257600,258000,260600,264700,266800
14715,62556,12429,Esopus,NY,Kingston,Ulster,14716,78300.0,78300.0,78200.0,...,164200,166600,170000,171000,170700,171300,172400,173600,175800,177500
14716,99032,97028,Rhododendron,OR,Portland,Clackamas,14717,136200.0,136600.0,136800.0,...,332600,332900,335600,338900,340500,341000,342300,345000,348000,349300
14717,62697,12720,Bethel,NY,NaN,Sullivan,14718,62500.0,62600.0,62700.0,...,122200,122700,122300,122000,122200,122800,123200,123200,120700,117700
14718,58333,1338,Ashfield,MA,Greenfield Town,Franklin,14719,94600.0,94300.0,94000.0,...,216800,217700,218600,218500,218100,216400,213100,209800,209200,209300
14719,59107,3293,Woodstock,NH,Claremont,Grafton,14720,92700.0,92500.0,92400.0,...,202100,208400,212200,215200,214300,213100,213700,218300,222700,225800
14720,75672,40404,Berea,KY,Richmond,Madison,14721,57100.0,57300.0,57500.0,...,121800,122800,124600,126700,128800,130600,131700,132500,133000,133400
14721,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,191100.0,192400.0,193700.0,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400
14722,95851,89155,Mesquite,NV,Las Vegas,Clark,14723,176400.0,176300.0,176100.0,...,333800,336400,339700,343800,346800,348900,350400,353000,356000,357200

In [35]:
print(data.columns.values[271])

2018-04

In [5]:
data.iloc[:,-8:]

,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,312500,314100,315000,316600,318100,319600,321100,321800
2,320200,320400,320800,321200,321200,323000,326900,329900
3,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,120000,120300,120300,120300,120300,120500,121000,121500
5,160200,161900,162800,162800,162800,162900,163500,164300
6,407300,411600,413200,414300,413900,411400,413200,417900
7,776100,774900,777900,777900,778500,780500,782800,782800
8,168400,169600,170900,172300,173300,174200,175400,176200
9,3775000,3799700,3793900,3778700,3770800,3763100,3779800,3813500
10,853900,870000,885100,887800,890500,901700,930700,963200
11,249900,248700,247500,247100,246800,247500,249800,251800
12,1048600,1066400,1081200,1088800,1092700,1089500,1084000,1084600
13,788800,793900,796000,799700,806600,810600,813400,816200
14,196600,198800,201300,203800,205900,207600,210000,211900
15,590900,594700,598500,601300,602800,606100,612400,616200
16,464300,466500,467900,470600,474500,475100,472600,470200
17,246700,248800,251100,253900,256500,259000,262100,264200
18,236600,237400,238500,239400,240000,241000,242200,242800
19,459900,459200,458700,457900,457400,459000,462500,464300
20,12036600,12050100,12016300,11946500,11978100,11849300,11563000,11478300
21,7417600,7427300,7371400,7342700,7353300,7350300,7363000,7386600
22,252300,252400,252300,253100,254700,257100,259800,261400
23,250500,250700,251000,251400,251900,253200,255100,256500
24,188200,189800,191700,193500,195100,196600,198500,199700
25,184500,185300,185300,184700,184800,185900,187200,188100
26,100300,100100,100000,100100,99700,100200,102100,103900
27,401600,405400,408600,410900,413700,417900,424300,430100
28,121400,122900,123800,124600,126200,127300,127700,128100
29,672200,673100,674600,678200,680900,683000,687500,691300
...,...,...,...,...,...,...,...,...
14693,189600,190500,191100,192000,193600,196100,198000,199400
14694,402900,408800,418900,428100,433000,431600,421600,413400
14695,256900,256100,250700,243200,238300,234200,230500,227300
14696,324800,327200,329000,330900,332500,334900,337700,339300
14697,223800,215600,210500,207800,206600,207600,210000,212300
14698,180700,182400,184200,184700,184400,186200,190400,194100
14699,301700,303800,303400,303700,306400,310900,317000,321100
14700,75000,75500,77200,78400,78900,79000,79400,79800
14701,174400,172200,173100,175200,175700,179800,188800,196000
14702,160500,160100,159900,159000,157000,157700,161000,163700
14703,542900,539100,547100,555700,561500,558600,547800,540400
14704,555800,531300,501200,475200,463500,469000,489500,507500
14705,87000,87200,87500,88100,88100,87500,86900,86700
14706,774100,767800,778300,796800,808100,811600,806500,796600
14707,25500,25100,25100,25600,25800,26600,27700,28300
14708,207900,208100,206400,208700,211800,218100,228400,238500
14709,184200,185700,187300,189100,189900,191600,195700,200100
14710,219200,221700,223600,224800,226000,226900,227700,228000
14711,2097700,2098400,2093600,2098400,2121300,2153600,2167100,2161900
14712,175700,175600,177000,178400,179300,180000,181500,183600
14713,120800,121600,122600,123400,124400,125500,126600,127500
14714,244300,248900,254600,257600,258000,260600,264700,266800
14715,170000,171000,170700,171300,172400,173600,175800,177500
14716,335600,338900,340500,341000,342300,345000,348000,349300
14717,122300,122000,122200,122800,123200,123200,120700,117700
14718,218600,218500,218100,216400,213100,209800,209200,209300
14719,212200,215200,214300,213100,213700,218300,222700,225800
14720,124600,126700,128800,130600,131700,132500,133000,133400
14721,682400,695600,695500,694700,706400,705300,681500,664400
14722,339700,343800,346800,348900,350400,353000,356000,357200

In [38]:
for i in range(7,272):
    data.iloc[:,i] = melt_data(data.iloc[:,i]
    data.iloc[:,i].head(10)

SyntaxError: invalid syntax (<ipython-input-38-9df7c11cfbe6>, line 3)

# Step 2: Data Preprocessing

In [17]:
def get_datetimes(df):
    return pd.to_datetime(df.columns.values[7:], format='%Y-%m')

In [ ]:
for i in range(7:)

# Step 3: Reshape from Wide to Long Format

In [ ]:
def melt_data(df):
    melted = pd.melt(df, id_vars=['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').aggregate({'value':'mean'})

In [39]:
%whos

Variable        Type         Data/Info
--------------------------------------
data            DataFrame           RegionID  RegionNa<...>14723 rows x 272 columns]
get_datetimes   function     <function get_datetimes at 0x10fc38bf8>
np              module       <module 'numpy' from '/Us<...>kages/numpy/__init__.py'>
pd              module       <module 'pandas' from '/U<...>ages/pandas/__init__.py'>
plt             module       <module 'matplotlib.pyplo<...>es/matplotlib/pyplot.py'>

# Step 4: EDA and Visualization
Perform basic EDA as you would building any model, then create at least 3 visualizations.  At least one of the visualizations should have time on the x-axis.  Axes should be labeled and any text should be legible.

In [ ]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

matplotlib.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

# Step 5: ARIMA Modeling
Be sure to validate your model.  Make a forecast for the future and describe the trend.

# Step 6: Interpreting Results
Give a detailed interpretation of results including the relationship between the inputs and output of the model.